<div class="w-[95%] mx-auto ">
  <div class="mb-5">
    <h1 class="mt-0 mb-2 text-5xl font-medium leading-tight text-primary">USERS</h1>
    <h2 class="text-sm ">
      Users from <a class="no-underline" href="#!">https://jsonplaceholder.typicode.com/users</a>
    </h2>
  </div>

  <div class="hidden overflow-auto rounded-lg shadow md:block">
    <table class="w-full bg-white shadow-lg">

      <thead class="border-b-2 border-gray-200 bg-gray-50">
        <tr>
          <th class="w-2 p-3 pr-1 text-sm font-semibold tracking-wide text-left">#</th>
          <th class="w-6 p-3 text-sm font-semibold tracking-wide text-left">Username</th>
          <th class="p-3 text-sm font-semibold tracking-wide text-left">Email</th>
          <th class="p-3 text-sm font-semibold tracking-wide text-left">Role</th>
          <th class="p-3 text-sm font-semibold tracking-wide text-left">Phone</th>
          <th class="p-3 text-sm font-semibold tracking-wide text-left">Website</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-100">
        <tr class="even:bg-gray-50 odd:bg-white" *ngFor="let user of users">
          <td class="w-2 p-3 pr-1 text-sm text-gray-700 whitespace-nowrap"><span
              class="font-bold text-red-500">{{user.id}}</span>
          </td>
          <td class="w-6 p-3 text-sm text-gray-700 whitespace-nowrap">{{user.name}}</td>
          <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{user.email}}</td>
          <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{user.isAdmin ? 'admin':'user'}}</td>
          <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{user.phone}}</td>
          <td class="p-3 text-sm text-gray-700 whitespace-nowrap"><a
              class="font-bold text-blue-500 hover:cursor-pointer hover:underline" href="#!">{{user.website}}</a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="flex-row md:hidden" *ngFor="let user of users">
    <div class="p-4 bg-white rounded-lg shadow max-w-[300px] sm:space-y-3">
      <div class="flex flex-wrap items-center justify-between gap-x-6">
        <div class="flex items-baseline space-x-2">
          <div class="font-bold text-red-500">{{user.id}}</div>
          <div class="text-base text-gray-500">{{user.name}}</div>
          <mat-icon [title]="user.isAdmin? 'Admin':'User'"
            [ngClass]="user.isAdmin? 'text-xl text-yellow-500' : 'text-base text-green-500'">{{user.isAdmin ?
            'admin_panel_settings' :
            'verified_user'}}</mat-icon>
        </div>
        <div class="flex items-baseline gap-x-2">
          <mat-icon class="!w-4 !h-4 text-base text-indigo-500" aria-hidden="false"
            aria-label="email information">email_outline</mat-icon>
          <span class="truncate">{{user.email}}</span>
        </div>
      </div>
      <div class="flex items-baseline gap-x-1"><mat-icon class="!w-5 !h-5 text-base text-indigo-500" aria-hidden="false"
          aria-label="email information">phone_iphone</mat-icon><span class="truncate">{{user.phone}}</span></div>
      <div><a class="font-bold text-blue-500 hover:cursor-pointer hover:underline" href="#!">{{user.website}}</a>
      </div>
    </div>
  </div>

</div>
